gradle.properties
gradle/
.gradle/
build/
/kotlin/
idea/
*.iml
local.properties
*.log
nano.*.save
*.save
.aider.chat.history.md
.aider.input.history
.aider*
app/.cxx/

.kotlin/

/desktop/build/
/desktop/.gradle/
/desktop/packaging/__pycache__/
